body {
  width: 100%;
  background: @color-body;
  color: @color-title;
}

h1 {
  font-family: 'OpenSans';
  .text(27px; 30px; @color-title; bold);
}

h2 {
  font-family: 'OpenSans';
  .text(25px; 30px; @color-title; bold);
}

h3 {
  font-family: 'OpenSans';
  .text(19px; 24px; @color-body; bold);
}

p {
  font-family: 'OpenSans';
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
