* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  background: @color-body;
  color: @color-title;
  font-family: "OpenSans", "Arial", sans-serif;
}

h1 {
  .text(27px; 30px; @color-title; bold);

  @media @tablet-widths {
    .text(43px; 50px; @color-title; bold);
  }

  @media @desktop-widths {
    .text(53px; 57px; @color-title; bold);
  }
}

h2 {
  .text(25px; 30px; @color-title; bold);

  @media @tablet-widths {
    .text(43px; 50px; @color-title; bold);
  }

  @media @desktop-widths {
    .text(53px; 57px; @color-title; bold);
  }
}

h3 {
  .text(19px; 24px; @color-body; bold);

  @media @tablet-widths {
    .text(20px; 30px; @color-body; bold);
  }

  @media @desktop-widths {
    .text(20px; 30px; @color-body; bold);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea {
	border-radius: 0;
}

input:hover,
input:active,
input:focus {
  outline: none;
}
