.category {
  width: 100%;
}

.category__header {
  .container();
  padding: 75px 30px 120px 30px;
  background: url("../../img/hero-mobile@1x.jpg") no-repeat 50% 0;
}

.category__wrapper {
  .container();
}

.category__title {
  text-align: center;
}

.category__item {
  padding: 0 30px;
  &--interior {
    background: @color-legend;
  }
  &--toys {
    background: @color-category;
  }
}

.category__link {
  display: block;
  padding: 10px 160px 10px 0;
}

@media @tablet-widths {

  .category__wrapper {
    display: flex;
  }

  .category__item {
    width: 50%;
  }

  .category__header {
    padding-top: 78px;
    padding-bottom: 342px;
  }
}

@media @desktop-widths {

  .category__link {
    padding-right: 335px;
  }

  .category__header {
    padding-bottom: 327px;
  }
}
