.category {
  position: relative;
  width: 100%;
  background-color: @color-header;
}

.category__header {
  .container();
  padding: 52px 30px 104px 30px;
  background: @color-header url("../img/hero-mobile@1x.jpg") no-repeat 50% 20%;
}

@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
  .category__header {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.category__wrapper {
  .container();
}

.category__title {
  text-align: center;
}

.category__icon-interior {
  position: absolute;
  top: 23px;
  right: 37px;
  fill: @color-interior;
}

.category__icon-toys {
  position: absolute;
  top: 20px;
  right: 26px;
  fill: @color-toys;
}

.category__link {
  position: relative;
  display: block;
  padding: 6px 160px 11px 30px;
  
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -5px;
    left: 0;
    display: none;
    width: 100%;
    height: 6px;
  }

  &--interior {
    background-color: @color-legend;
  }

  &--interior:hover {
    background-color: @color-interior-hover;
  }

  &--interior:active h3 {
    color: @color-category-active;
  }

  &--interior::after {
    background-color: @color-interior-hover;
  }

  &--toys {
    background-color: @color-category;
  }

  &--toys:hover {
    background-color: @color-icon;
  }

  &--toys:active h3 {
    color: @color-category-active-two;
  }

  &--toys::after {
    background-color: @color-icon;
  }

  &:hover {
    transform: translateY(-5px);
  }

  &:hover::after {
    display: block;
  }

  &:hover .category__icon-interior {
    fill: @color-interior-icon-hover;
  }

  &:active .category__icon-interior {
    fill: @color-interior-icon-active;
  }

  &:hover .category__icon-toys {
    fill: @color-toys-icon-hover;
  }

  &:active .category__icon-toys {
    fill: @color-toys-icon-active;
  }
}

@media @tablet-widths {

  .category::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 36px;
    width: 100%;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: 80% 100%;
    background-repeat: repeat-x;
  }

  .category__wrapper {
    display: flex;
  }

  .category__item {
    width: 50%;
  }

  .category__link {
    padding-bottom: 20px;
    padding-left: 36px;
  }

  .category__header {
    padding-top: 66px;
    padding-bottom: 345px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: 50% 32%;
  }

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    .category__header {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .category__icon-interior {
    top: 30px;
    right: 35px;
  }

  .category__icon-toys {
    top: 31px;
    right: 33px;
  }
}

@media @desktop-widths {

  .category__link {
    padding-right: 335px;
  }

  .category__header {
    padding-top: 61px;
    padding-bottom: 324px;
  }
}
