.category {
  width: 100%;
}

.category__header {
  background: url("../../img/hero-mobile@1x.jpg") no-repeat;
}

.category__item {
  padding: 30px;
}

.category__link {
  color: #ffffff;
  text-decoration: none;
}

.category__item--interior {
  background: @color-legend;
}

.category__item--toys {
  background: @color-category;
}
