.contacts {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 100%;
  }
}

.contacts__wrapper {
  .container();
  padding: 30px 30px 0 30px;
}

.contacts__title {
  margin: 28px 0 25px 0;
  font-size: 18px;
}

.contacts__info {
  .text(15px; 30px; @color-text);
  display: flex;
  flex-direction: column;
  margin-bottom: 9px;
}

.contacts__row {
  display: flex;
}

.contacts__cell {
  padding-bottom: 29px;
  vertical-align: top;

  &:first-child {
    width: 77px;
  }
}

.contacts__address {
  width: 185px;
  padding-right: 40px;
}

.contacts__link {
  position: relative;
  display: block;
  color: @color-text;

  &:hover {
    color: @color-icon;
  }

  &:active {
    color:@color-down-link;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: @color-link;
  }

  &:hover::after {
    background-color: @color-icon;
  }

  &:active::after {
    background-color:@color-down-link;
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 0;
  line-height: 0;

  &::before {
    content: "";
    position: absolute;
    top: 165px;
    left: 50%;
    width: 74px;
    height: 105px;
    margin-left: -37px;
    background: url("../img/icon-map-pin.svg") no-repeat;
  }
}

.contacts__btn-wrapper {
  .container();
  padding: 38px 30px;
}

@media @tablet-widths {

  .contacts__wrapper {
    position: relative;
    padding: 60px 0 47px 0;

    &::before {
      content: url("../img/icon-flag.svg");
      position: absolute;
      top: 72px;
      right: 0;
      width: 50px;
      height: 85px;
    }
  }

  .contacts__title {
    font-size: 43px;
    margin-bottom: 48px;
  }

  .contacts__info {
    .text(17px; 30px; @color-text);
    flex-direction: row;
  }

  .contacts__row {
    width: 50%;
  }

  .contacts__address {
    width: 230px;
    padding: 0;
  }

  .contacts__btn-wrapper {
    display: flex;
    justify-content: center;
    padding: 55px 50px 57px 50px;
  }

  .contacts__btn {
    width: 230px;
  }
}

@media @desktop-widths {

  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    padding: 100px 0 72px 175px;

    &::before {
      top: 162px;
      left: 62px;
      right: auto;
    }
  }

  .contacts__title {
    margin-top: 70px;
    margin-bottom: 49px;
    font-size: 53px;
  }

  .contacts__info {
    flex-direction: column;
  }

  .contacts__row {
    width: 100%;
  }

  .contacts__map {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 525px;
    text-align: left;

    &::before {
      margin-left: -26px;
    }
  }

  .contacts__btn-wrapper {
    display: block;
    padding: 0 0 105px 175px;
  }
}
