.contacts {
  padding-top: 30px;
  padding-bottom: 30px;
}

.contacts__title {
  margin: 30px 30px 38px 30px;
}

.contacts__info {
  .text(15px; 30px; @color-text);
  & td {
    padding-left: 30px;
    padding-bottom: 35px;
    vertical-align: top;
  }
}

.contacts__link {
  color: @color-text;
}

.contacts__address {
  padding-right: 75px;
}

.contacts__map {
  width: 100%;
  margin-bottom: 38px;
  text-align: center;
}
