.featured {
  padding: 30px;
}

.featured__title {
  margin-top: 0;
  margin-bottom: 5px;
}

.featured__weekly {
  .text(17px; 16px; @color-legend; bold);
  text-transform: uppercase;
}

.featured__info {
  .text(15px; 24px; @color-text);
  font-size: 15px;
  line-height: 24px;
  margin: 30px 0;
}

.featured__description {
  .text(15px; 20px; @color-text);
}

