.featured {
  padding: 30px;
}

.featured__title {
  margin-top: 0;
  margin-bottom: 5px;
}

.featured__weekly {
  .text(17px; 16px; @color-legend; bold);
  text-transform: uppercase;
}

.featured__info {
  margin: 30px 0;
  .text(15px; 24px; @color-text);
}

.featured__description {
  margin-bottom: 28px;
  border-collapse: collapse;
  .text(15px; 20px; @color-text);
  & td {
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
  }
}

.featured__price {
  display: block;
  padding: 28px;
  text-align: center;
  .text(17px; 24px; @color-text; bold);
}

