.main-nav {
  width: 320px;
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 50%;
  margin-left: -160px;
  background-color: @color-body;
}

@media @mobile-widths-only {

  @keyframes emersion {
    0% {
        transform: translateY(-320px);
    }

    100% {
        transform: translateY(0);
    }
  }

  .main-nav--closed {
    display: none;
  }

  .main-nav--opened {
    display: block;
    animation: emersion 0.3s;
  }

  .main-nav--nojs {
    display: block;
    position: static;
    margin: 0;
    border-top: 1px solid @color-border;
    transform: translateY(0);
  }
}

.main-nav__link {
  .text(17px; 24px; @color-title; bold);
  display: block;
  padding: 27px 60px 27px 76px;
  border-bottom: 1px solid @color-border;
}

.main-nav__logo,
.main-nav__item--tablet,
.main-nav__item--desktop {
  display: none;
}

.main-nav__item--search:hover .main-nav__item-icon-search {
  fill: green;
}

@media @tablet-widths {

  .main-nav {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 768px;
    margin: 0 auto;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__logo {
    order: 3;
    display: block;
    width: 40%;
    flex-grow: 1;
    border-bottom: 1px solid @color-border;
  }

  .main-nav__logo .main-nav__link {
    padding: 23px 20px 23px 50px;
  }

  .main-nav__link {
    width: 100%;
    height: 100%;
    padding: 0;
    border-bottom: none;
  }

  .main-nav__item--search {
    order: 4;
    width: 82px;
    border-right: 1px solid @color-border;
    border-left: 1px solid @color-border;
    border-bottom: 1px solid @color-border;
  }

  .main-nav__item--search .main-nav__link {
    font-size: 0;
  }

  .main-nav__item--basket {
    order: 5;
    width: 315px;
    text-align: right;
    border-bottom: 1px solid @color-border;
  }

  .main-nav__item--basket .main-nav__link {
    padding-right: 50px;
    padding-top: 30px;
  }

  .main-nav__item--catalog {
    order: 6;
  }

  .main-nav__item--catalog .main-nav__link {
    padding: 23px 18px 23px 50px;
    font-size: 15px;
  }

  .main-nav__item--form {
    order: 7;
  }

  .main-nav__item--form .main-nav__link {
    padding: 23px 18px;
    font-size: 15px;
  }

  .main-nav__item--tablet {
    order: 8;
    display: block;
    flex-grow: 1;
    text-align: right;
  }

  .main-nav__free {
    .text(15px; 24px; @color-text;);
    display: block;
    padding: 23px 50px 23px 18px;
  }

  .main-nav__item--tablet-color {
    background-color: @color-footer;
  }

  .main-nav__item--color {
    background-color: @color-footer;
  }
}

@media @desktop-widths {

  .main-nav {
    width: 1150px;
  }

  .main-nav__item--desktop {
    order: 6;
    display: block;
    width: 235px;
  }

  .main-nav__link-new {
    font-size: 15px;
    padding-left: 50px;
    padding-top: 23px;
  }

  .main-nav__link-sale {
    font-size: 15px;
    padding-left: 35px;
    padding-top: 23px;
  }

  .main-nav__item--catalog {
    order: 1;
    width: 235px;
    border-bottom: 1px solid @color-border;
    border-right: 1px solid @color-border;
  }

  .main-nav__item--catalog .main-nav__link {
    font-size: 17px;
    padding-top: 30px;
    padding-left: 50px;
  }

  .main-nav__item--form {
    order: 2;
    width: 235px;
    border-bottom: 1px solid @color-border;
  }

  .main-nav__item--form .main-nav__link {
    font-size: 17px;
    padding-top: 30px;
    padding-left: 35px;
  }

  .main-nav__logo {
    flex-grow: 1;
    width: 250px;
  }

  .main-nav__logo .main-nav__link {
    padding-left: 62px;
  }

  .main-nav__item--tablet-color {
    background-color: @color-body;
  }

  .main-nav__item--desktop-color {
    background-color: @color-footer;
  }
}
