.manufacture {
  .container();
  padding: 0 30px 58px 30px;
}

.manufacture__header {
  padding: 14px 30px 12px 90px;
  border: 1px solid #ececec;
}

.manufacture__title {
  .text(17px; 24px; @color-title; bold);
}

.manufacture__caption {
  .text(13px; 24px; @color-text);
  margin-top: -5px;
  padding: 20px 33px 32px 33px;
  border: 1px solid #ececec;
}

.manufacture__btn {
  margin-top: 24px;
}
