.order {
  width: 100%;
}

.order__header {
  padding-top: 51px;
  padding-bottom: 55px;
  text-align: center;
  background: @color-footer;
}

.order__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 12px 30px 55px 30px;
}

.order__subtitle {
  .text(13px; 24px; @color-text);
}

@media @tablet-widths {

  .order__header {
    position: relative;
    padding-top: 5px;
    padding-bottom: 60px;
    margin-bottom: 66px;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      display: block;
      height: 36px;
      width: 100%;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
    }
  }

  .order__wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .order__subtitle {
    .text(17px; 30px; @color-text);
    width: 668px;
    margin: 0 auto;
  }
}

@media @desktop-widths {

  .order__header {
    padding-top: 0;
    padding-bottom: 75px;
    margin-bottom: 115px;
  }

  .order__subtitle {
    width: 1050px;
    padding: 0 175px;
  }
}
