.order-form {
  .text(17px; 18px; @color-title; bold);
}

.order-form__title {
  .text(17px; 16px; @color-legend; bold);
  position: relative;
  margin-bottom: 22px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 62px;
    width: 198px;
    height: 1px;
    background-color: @color-link;
  }
}

.order-form__type {
  padding-top: 12px;
  padding-bottom: 11px;
}

.order-form__color {
  padding-top: 14px;
  padding-bottom: 15px;

  & .order-form__title {
    margin-bottom: 15px;
  }
}

.order-form__type-wrapper,
.order-form__color-wrapper {
  display: flex;
  flex-direction: column;
}

.order-form__radio-label {
  position: relative;
  padding: 14px 30px 14px 60px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 36px;
    height: 36px;
    border: 2px solid @color-text;
    border-radius: 50%;
  }

  &:hover::before {
    border-color: @color-link;
  }

  &:active::before {
    border-color: @color-modal;
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 12px;
    display: none;
    width: 16px;
    height: 16px;
    background-color: @color-link;
    border-radius: 50%;
  }

  &:active::after {
    display: block;
  }
}

.order-form__checkbox-label {
  position: relative;
  padding: 21px 30px 22px 60px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 34px;
    height: 34px;
    border: 2px solid @color-text;
  }

  &:hover::before {
    border-color: @color-link;
  }

  &:active::before {
    border-color: @color-modal;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 8px;
    display: none;
    width: 20px;
    height: 10px;
    border-left: 2px solid @color-title;
    border-bottom: 2px solid @color-title;
    transform: rotate(-45deg);
  }

  &:active::after {
    display: block;
  }
}

.order-form__radio {
  display: none;

  &:checked + .order-form__radio-label::after {
    display: block;
  }

  &:checked + .order-form__radio-label:active::after {
    display: none;
  }
}

.order-form__checkbox {
  display: none;

  &:checked + .order-form__checkbox-label::after {
    display: block;
  }

  &:checked + .order-form__checkbox-label:active::after {
    display: none;
  }
}

.order-form__fullname {
  padding-top: 5px;
  padding-bottom: 10px;

  & .order-form__title {
    display: block;
    margin-bottom: 30px;
  }
}

.order-form__text {
  .input-text();
  padding: 15px 0;
  margin-bottom: 22px;

  &:hover {
    border-color: @color-link;
  }

  &:focus {
    border-color: @color-link;
  }
}

.order-form__phone {
  padding-bottom: 2px;

  & .order-form__title {
    display: block;
    margin-bottom: 8px;
  }
}

.order-form__phone-wrapper {
  position: relative;
}

.order-form__icon-phone {
  position: absolute;
  top: 34px;
  right: 8px;
  fill: @color-phone;
}

.order-form__tel {
  .input-text();
  padding: 15px 50px 15px 0;
  margin-bottom: 22px;

  &:hover {
    border-color: @color-link;
  }

  &:hover + .order-form__icon-phone {
    fill: @color-link;
  }

  &:focus {
    border-color: @color-link;
    outline: none;
  }

  &:focus + .order-form__icon-phone {
    fill: @color-link;
  }
}

.order-form__email {
  padding-top: 8px;
  padding-bottom: 8px;

  & .order-form__title {
    display: block;
    margin-bottom: 9px;
  }

  & .order-form__title::after {
    left: 81px;
    width: 179px;
  }
}

.order-form__email-wrapper {
  position: relative;
}

.order-form__icon-mail {
  position: absolute;
  top: 34px;
  right: 5px;
  fill: @color-phone;
}

.order-form__mail {
  .input-text();
  padding: 15px 50px 14px 0;
  margin-bottom: 22px;

  &:hover {
    border-color: @color-link;
  }

  &:hover + .order-form__icon-mail {
    fill: @color-link;
  }

  &:focus {
    border-color: @color-link;
    outline: none;
  }

  &:focus + .order-form__icon-mail {
    fill: @color-link;
  }
}

.order-form__addition {
  padding-top: 2px;
  padding-bottom: 12px;

  & .order-form__title {
    display: block;
    margin-bottom: 25px;
  }
}

.order-form__textarea {
  .text(17px; 18px; @color-text);
  width: 100%;
  padding: 15px;
  border: 2px solid @color-text;

  &:hover {
    border-color: @color-link;
  }

  &:focus {
    border-color: @color-link;
    outline: none;
  }
}

.order-form__small {
  .text(14px; 16px; @color-text);
}

.order-form__submit {
  margin-top: 31px;
  width: 100%;
  background-color: @color-body;
}

@media @tablet-widths {

  .order-form {
    font-size: 19px;
  }

  .order__wrapper-blocks {
    position: relative;
    width: 668px;
    margin: 0 auto;
    padding-left: 167px;
  }

  .order-form__title {
    position: absolute;
    left: 0;

    &::after {
      display: none;
    }
  }

  .order-form__type {
    padding-top: 27px;
    padding-bottom: 37px;

    & .order-form__title {
      top: 30px;
    }
  }

  .order-form__radio-label {
    padding: 29px 30px 29px 81px;

    &::before {
      top: 12px;
      width: 48px;
      height: 48px;
    }

    &::after {
      top: 27px;
      left: 15px;
      width: 22px;
      height: 22px;
    }
  }

  .order-form__color {
    padding-top: 38px;
    padding-bottom: 38px;
    background-color: @color-footer;

    & .order-form__title {
      top: 30px;
    }
  }

  .order-form__color-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & label:nth-of-type(2n+1) {
      flex-grow: 1;
    }
  }

  .order-form__checkbox-label {
    width: 240px;
    padding: 29px 30px 29px 81px;

    &::before {
      top: 12px;
      width: 50px;
      height: 48px;
    }

    &::after {
      top: 27px;
      left: 12px;
      width: 28px;
      height: 13px;
    }
  }

  .order-form__fullname {
    padding-top: 49px;
    padding-bottom: 30px;

    & .order-form__title {
      top: 18px;
    }
  }

  .order-form__fullname-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .order-form__text {
    .text(19px; 18px; @color-text);
    width: 65%;
    flex-grow: 1;
    padding-left: 18px;
  }

  .order-form__text-label {
    padding-right: 27px;
  }

  .order-form__phone {
    padding-top: 45px;
    padding-bottom: 0;
    background-color: @color-footer;

    & .order-form__title {
      top: 18px;
    }
  }

  .order-form__icon-phone {
    top: 14px;
    right: 27px;
  }

  .order-form__tel,
  .order-form__mail {
    .text(19px; 18px; @color-text);
    padding-left: 18px;
    padding-right: 55px;
    background-color: @color-footer;
  }

  .order-form__email {
    padding-top: 0;
    padding-bottom: 29px;
    background-color: @color-footer;

    & .order-form__title {
      top: 18px;
    }
  }

  .order-form__icon-mail {
    top: 14px;
    right: 23px;
  }

  .order-form__addition {
    padding-top: 50px;
    padding-bottom: 50px;

    & .order-form__title {
      top: 16px;
    }
  }

  .order-form__textarea {
    .text(19px; 18px; @color-text);
  }

  .order-form__btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    width: 768px;
    padding: 0 50px 50px 50px;
    margin: 0 auto;
  }

  .order-form__small {
    .text(17px; 30px; @color-text);
  }

  .order-form__submit {
    width: 230px;
    margin-top: 0;
  }
}

@media @desktop-widths {

  .order__wrapper-blocks {
    width: 1050px;
    padding-left: 175px;
    padding-right: 175px;
  }

  .order-form__title {
    left: 65px;
  }

  .order-form__color-wrapper {
    justify-content: flex-start;
    padding-right: 0;

    & label:nth-of-type(2n+1) {
      flex-grow: 0;
    }
  }

  .order-form__checkbox-label {
    flex-grow: 0;
    width: 30%;
  }

  .order-form__text {
    width: 80%;
  }

  .order-form__icon-phone {
    top: 13px;
    right: 185px;
  }

  .order-form__icon-mail {
    top: 14px;
    right: 180px;
  }

  .order-form__addition {
    padding-bottom: 46px;
  }

  .order-form__btn {
    width: 1050px;
    padding-left: 175px;
    padding-right: 175px;
  }
}
