.order-form__title {
  .text(17px; 16px; @color-legend; bold);
  text-transform: uppercase;
}

.order-form {
  .text(17px; 18px; @color-title; bold);
}

.order-form__type,
.order-form__color,
.order-form__fullname,
.order-form__phone,
.order-form__e-mail {
  padding: 15px 0;
  border: none;
}

.order-form__radio,
.order-form__checkbox {
  display: none;
}

.order-form__radio-label,
.order-form__checkbox-label {
  display: inline-block;
  position: relative;
  padding: 15px 30px 15px 60px;
}

.order-form__radio-label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 34px;
  height: 34px;
  border: 2px solid @color-text;
  border-radius: 50%;
}

.order-form__radio-label::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 11px;
  display: none;
  width: 16px;
  height: 16px;
  background-color: @color-legend;
  border-radius: 50%;
}

.order-form__radio:checked + .order-form__radio-label::after {
  display: block;
}

.order-form__checkbox-label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 34px;
  height: 34px;
  border: 2px solid @color-text;
}

.order-form__checkbox-label::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 8px;
  display: none;
  width: 20px;
  height: 10px;
  border-left: 2px solid @color-title;
  border-bottom: 2px solid @color-title;
  transform: rotate(-45deg);
}

.order-form__checkbox:checked + .order-form__checkbox-label::after {
  display: block;
}

.order-form__addition {
  padding: 25px 0 10px 0;
  border: none;
}

.order-form__text,
.order-form__tel,
.order-form__email {
  width: 95%;
  padding: 12px 0;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid @color-title;
}

.order-form__textarea {
  .text(17px; 18px;@color-placeholder);
  width: 85%;
  padding: 14px;
  border: 2px solid @color-text;
}

.order-form__small {
  .text(14px; 16px; @color-text);
}

.order-form__submit {
  margin-top: 30px;
  width: 95%;
  background-color: @color-body;
}
