.page-footer {
  background: @color-footer;
}

.page-footer__wrapper {
  .container();
}

.page-footer__logo-block {
  display: none;
}

.page-footer__copyright {
  padding-right: 50px;
  padding-left: 67px;
}

.page-footer__copyright-link {
  .text(19px; 18px; @color-title; bold);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 191px;
  padding: 15px 0 19px 0;
  border-top: 1px solid #e5e5e5;
}

.page-footer__icon-htmlacademy {
  fill: @color-legend;
}

.page-footer__copyright-link:hover .page-footer__icon-htmlacademy {
	fill: @color-icon;
}

.page-footer__copyright-link:active .page-footer__icon-htmlacademy {
	fill: @color-down;
}

.page-footer__copyright-link:active {
	color: #bfbfbf;
}

@media @tablet-widths {

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 143px;
  }

  .page-footer__logo-block {
    display: block;
    width: 30%;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__icon-logo {
    fill: #231f20;
  }

  .page-footer__logo:hover .page-footer__icon-logo {
    fill: @color-icon;
  }

  .page-footer__logo:active .page-footer__icon-logo {
    fill: @color-down;
  }

  .page-footer__copyright {
    width: 30%;
    padding: 0;
    text-align: right;
  }

  .page-footer__copyright-link {
    border-top: none;
    padding: 0;
  }
}
