.reviews {
  .container();
}

.reviews__wrapper {
  position: relative;
  padding: 30px;
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 25px;
}

.reviews__item {
  .text(15px; 30px; @color-text);
  margin: 0 0 26px 0;
}

.reviews__author-name {
  .text(18px; 24px; @color-title; bold);
  font-style: normal;
}

.reviews__author-nickname {
  .text(18px; 30px; @color-text);
  display: block;
  font-style: normal;
  padding-top: 3px;
}

.reviews__sliders-btn {
  display: flex;
  margin: 33px 0;
}
.reviews__slider-btn {
  padding: 26px;
  width: 50%;
  font-size: 0;
  background: @color-body;
  border: 1px solid #ececec;
}

@media @tablet-widths {

  .reviews__wrapper {
    padding: 70px 0 50px 0;
  }

  .reviews__title {
    margin-bottom: 50px;
  }

  .reviews__item {
    .text(17px; 30px; @color-text);
    margin-bottom: 60px;
  }

  .reviews__list-slider {
    display: flex;
    justify-content: space-between;
  }

  .reviews__list cite {
    display: block;
    width: 50%;
  }

  .reviews__author-name {
    .text(17px; 24px; @color-title; bold);
  }

  .reviews__author-nickname {
    .text(17px; 30px; @color-text);
    font-style: normal;
  }

  .reviews__sliders-btn {
    width: 25%;
    margin: 0;
  }

  .reviews__slider-btn {
    border: none;
    outline: 1px dashed gray;
  }

  .reviews__btn {
    position: absolute;
    top: 70px;
    right: 0;
    width: 171px;
  }
}

@media @desktop-widths {
  .reviews__wrapper {
    padding-left: 175px;
  }

  .reviews__list cite {
    width: 30%;
  }

  .reviews__sliders-btn {
    width: 175px;
  }

  .reviews__btn {
    width: 175px;
  }
}
