.seo {
  .container();
  padding: 30px;
}

.seo__title {
  margin-top: 15px;
  margin-bottom: 0;
}

.seo__item {
  .text(17px; auto; @color-title; bold);
  padding-top: 86px;
}

@media @tablet-widths {

  .seo {
    padding: 30px 0 60px 0;
  }

  .seo__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .seo__items {
    width: 50%;
  }

  .seo__item {
    .text(20px; auto; @color-title; bold);
    padding-right: 35px;
  }
}
