.social {
  padding: 20px;
  text-align: center;
  line-height: 0;
}

.social__link {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 25px;
  outline: 1px dashed gray;
  font-size: 0;
}

.social__link:last-child {
  margin-right: 0;
}

@media @tablet-widths {

  .social {
    width: 30%;
  }
}
